            <div class="profile-container border-bottom py-3">
                <div class="row text-center">
                    <div class="col-md-12"><h1>ユーザー詳細ページ</h1></div>
                </div>

                <div class="row">
                  <div class="mx-auto "><%= image_tag @customer.get_profile_image(250,250), class:"rounded-circle"; %></div>
                </div>
                  <div class=" text-center ">
                    <h5>ユーザーネーム：<%= @customer.account_name %></h5>
                  </div>
                  <div class=" text-center">
                    <h5>自己紹介：<%= @customer.introduction %></h5>
                  </div>
                  <div class=" text-center">
                    <h5>居住地：<%= @customer.spot.spot_name_i18n %></h5>
                  </div>
                  <div class=" text-center">
                    <%= render "public/relationships/relationships", customer: @customer %>
                  </div>
                  <div class=" text-center">
                    <h5>follows<%= link_to @customer.followings.count, customer_followings_path(@customer.id) %></h5>
                  </div>
                  <div class=" text-center">
                    <h5>followers<%= link_to @customer.followers.count, customer_followers_path(@customer.id) %></h5>
                  </div>
                  <div class=" text-center">
                    <h5><%=link_to"お気に入り投稿",favorites_customer_path(@customer.id) %></h5>
                  </div>
                  <div class=" text-center">
                  <% if @customer == current_customer %>
                     <h5><%= link_to "プロフィール編集", edit_customer_path(@customer) %></h5>
                  <% end %>
                  </div>
            </div>



<% @posts.each do |post| %>
<div>
  投稿画像:
  <%= link_to post_path(post.id) do %>
    <% post.get_images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [200, 200]).processed %>
    <% end %>
  <% end %>
  <p>タイトル：<%= post.title %></p>
  <p>説明：<%= post.post_content %></p>
  <p>遊んだ場所：<%= post.spot.spot_name_i18n %></p>
  <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>

        <div class=<%= "favorite-" + post.id.to_s %> >
            <%= render "public/favorites/btn", post: post %>
        </div>


   <div id="rate_show<%= post.id %>"></div>
<script>
$(function(){


    let raty_show<%= post.id %> = document.querySelector('#rate_show<%= post.id %>');
    rate_show<%= post.id %>.innerHTML = ""
    let option_show<%= post.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= post.rate %>",
        readOnly: true,
      };
    raty(raty_show<%= post.id %> ,option_show<%= post.id %>);
});
</script>


</div>
<% end %>

<p><%= link_to"ユーザー一覧に戻る",customers_path %> </p>


<%= paginate @posts %>
