<h1>ユーザー詳細ページ</h1>

<h2>ユーザーネーム：<%= @customer.account_name %></h2>
<%= image_tag @customer.get_profile_image(100,100) %>
<% if @customer == current_customer %>
 <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
<% end %>
  <p>自己紹介：<%= @customer.introduction %></p>
  <p>居住地：<%= @customer.spot.spot_name_i18n %></p>
  <p><%= render "public/relationships/relationships", customer: @customer %></p>
  <p>follows<%= link_to @customer.followings.count, customer_followings_path(@customer.id) %></p>
  <p>followers<%= link_to @customer.followers.count, customer_followers_path(@customer.id) %></p>

<% @posts.each do |post| %>
<div>
  投稿画像:
  <%= link_to post_path(post.id) do %>
    <% post.get_images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [200, 200]).processed %>
    <% end %>
  <% end %>
  <p>タイトル：<%= post.title %></p>
  <p>説明：<%= post.post_content %></p>
  <p>遊んだ場所：<%= post.spot.spot_name_i18n %></p>
  <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>

  <% if post.favorited_by?(current_customer) %>

    <%= link_to post_favorites_path(post), method: :delete do %>
      ♥<%= post.favorites.count %> いいね
    <% end %>
    <% else %>
    <%= link_to post_favorites_path(post), method: :post do %>
      ♡<%= post.favorites.count %> いいね
    <% end %>
  <% end %>

</div>
<% end %>

<p><%= link_to"ユーザー一覧に戻る",customers_path %> </p>

<%= paginate @posts %>
