  <% post.comments.each do |comment| %>
    <p><%= image_tag comment.customer.get_profile_image(100,100) %></p>
    <%= comment.customer.account_name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
      <%=  link_to "削除", admin_post_comment_path(post.id,comment.id),method: :delete , class: "btn btn-danger pull-right", remote: true %>
  <% end %>