<h1>画像投稿フォーム</h1>


<%= form_with model: @post do |f| %>

  <%= f.label "画像" %>
  <%= f.file_field :images, accept: "image/*" %>
  <%= f.label "タイトル" %>
  <%= f.text_field :title %>
  <%= f.label "投稿内容" %>
  <%= f.text_area :post_content %>

  <%= f.select :spot_name, Spot.spot_names.keys.map {|k| [I18n.t("enums.spot.spot_name.#{k}"), k]}, include_blank: "選択して下さい"  %>
  <%= f.submit "投稿" %>
<% end %>

