<h1>画像投稿フォーム</h1>


<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <%# binding.irb %>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, url: posts_path, local: true do |f| %>

  <%= f.label "画像" %>
  <%= f.file_field :images, accept: "image/*",multiple: true %>

  <%= f.label "タイトル" %>
  <%= f.text_field :title %>
  <%= f.label "投稿内容" %>
  <%= f.text_area :post_content %>
  <%= f.label "場所" %>
  <!--@spot_id_pairでspot_nameをidに変換しております。-->
  <%= f.select :spot_id, Spot.spot_names.keys.map {|k| [I18n.t("enums.spot.spot_name.#{k}"), @spot_id_pair[k]]}, include_blank: "選択して下さい"  %>
  <%= f.submit "投稿" %>
<% end %>

