<div class="container py-5">
 <div class="row">
   <div class="col">
     <h2 class="m-4 text-center font-weight-bold">投稿フォーム</h2>
     <% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <%# binding.irb %>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>
</div>

<%= form_with model: @post, url: posts_path, local: true do |f| %>

<div class="row mt-5">
  <div class="form-group col-12">
    <%= f.label "画像", class: "col-sm-2 control-label" %>
    <%= f.file_field :images, accept: "image/*",multiple: true %>
  </div>
  <div class="form-group col-12">
      <%= f.label "タイトル" , class: "col-sm-2 control-label"%>
      <%= f.text_field :title %>
  </div>
  <div class="form-group col-12">
      <%= f.label "投稿内容" , class: "col-sm-2 control-label"%>
      <%= f.text_area :post_content %>
  </div>


  <div class="form-group col-12">
      <%= f.label "遊んだ場所", class: "col-sm-2 control-label" %>
      <%= f.select :spot_id, Spot.spot_names.keys.map {|k| [I18n.t("enums.spot.spot_name.#{k}"), @spot_id_pair[k]]}, include_blank: "選択して下さい"  %>

  </div>

  <div class="form-group col-12">
      <%= f.label :tag_list , class: "col-sm-2 control-label"%>（,で区切って記載ください。）
      <%= f.text_field :tag_list, value: @post.tag_list.join(',') %>
  </div>

  <div class="form-group col-12">

   <% if @post.id === nil %>
    <div class="form-group" id="star">
      <%= f.label :rate , class: "col-sm-2 control-label"%>
      <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
    </div>

    <div id="post_raty"></div>
    <script>
      $(document).on('turbolinks:load', function() {
      let raty_elem = document.querySelector('#post_raty');
      raty_elem.innerHTML = ""
      let option = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'post[rate]',
        };
      raty(raty_elem,option);
     });

    </script>


  <% else %>
    <div id="rate_<%= post.id %>"></div>
<script>

    let raty_<%= post.id %> = document.querySelector('#rate_<%= post.id %>');
    rate_<%= post.id %>.innerHTML = ""
    let option_<%= post.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= post.rate %>",
        readOnly: true,
      };
    raty(raty_<%= post.id %> ,option_<%= post.id %>);

</script>

  <% end %>
  </div>


  <%= f.hidden_field :latitude, :value => nil ,id: 'lat' %>
  <%= f.hidden_field :longitude, :value => nil ,id: "lng" %>



    <div class="actions col-7 text-center">
    <%= f.submit "投稿" , class: 'btn btn-sm btn-success control-submit mr-5' %>
  </div>
</div>
<% end %>




<div class="container py-5">
<h4 class="m-4 text-center font-weight-bold">マップ（場所の登録をしてください）</h4>

<input id="address" type="textbox" value="東京駅" placeholder="ここに入力してください。">
<input type="button" value="登録" onclick="codeAddress()">

<!--<div id="display"></div>-->

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>
</div>

<script>
let map
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.681236, lng:139.767125},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 35.681236, lng:139.767125},
    map: map
  });
}

window.initMap = initMap;

// ここから追加
let geocoder
// const display = document.getElementById('display')

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });

      // display.textContent = "検索結果：" + results[ 0 ].geometry.location
      let location = results[0].geometry.location;
      　if (location !== null){
            document.getElementById('lat').value = location.lat();
            document.getElementById('lng').value = location.lng();
      　}
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
// ここまで追加

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

<p><%= link_to"HOMEに戻る",root_path %> </p>


</div>

