<h1>投稿詳細</h1>

  <%= link_to customer_path(@post.customer.id) do %>
  <p>投稿ユーザー画像：<%= image_tag @post.customer.get_profile_image(100,100) %></p>
  <% end %>
  <p>ユーザーネーム：<%= @post.customer.account_name %></p>
  <p>ユーザー居住地：<%= @post.customer.spot.spot_name_i18n %></p>
  投稿画像:
    <% @post.get_images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [200, 200]).processed %>
    <% end %>

  <p>タイトル:<%= @post.title %></p>
  <p>説明：<%= @post.post_content %></p>
  <p>遊んだ場所：<%= @post.spot.spot_name_i18n %></p>
  <p>投稿日:<%= @post.created_at.strftime('%Y/%m/%d') %></p>



   <div id="rate_show<%= @post.id %>"></div>
<script>
$(function(){


    let raty_show<%= @post.id %> = document.querySelector('#rate_show<%= @post.id %>');
    rate_show<%= @post.id %>.innerHTML = ""
    let option_show<%= @post.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= @post.rate %>",
        readOnly: true,
      };
    raty(raty_show<%= @post.id %> ,option_show<%= @post.id %>);
});
</script>



  <% if @post.customer.id == current_customer.id %>
    <%= link_to "編集", edit_post_path(@post) %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>

  <% if @post.favorited_by?(current_customer) %>

    <%= link_to post_favorites_path(@post), method: :delete do %>
      ♥<%= @post.favorites.count %> いいね
    <% end %>
    <% else %>
    <%= link_to post_favorites_path(@post), method: :post do %>
      ♡<%= @post.favorites.count %> いいね
    <% end %>
  <% end %>



 <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.customer.get_profile_image(100,100) %></p>
    <%= comment.customer.account_name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.customer == current_customer %>
      <%=  link_to "削除", post_comment_path(@post.id,comment.id),method: :delete %>
    <% end %>
  <% end %>

  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに記入してください" %>
    <%=f.submit "送信する" %>
  <% end %>

  <p><%= link_to"投稿一覧に戻る",posts_path %> </p>





<h2>gmap</h2>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
function initMap() {
  const myLatlng = { lat: -25.363, lng: 131.044 };
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 4,
    center: myLatlng,
  });
  // Create the initial InfoWindow.
  let infoWindow = new google.maps.InfoWindow({
    content: "Click the map to get Lat/Lng!",
    position: myLatlng,
  });

  infoWindow.open(map);
  // Configure the click listener.
  map.addListener("click", (mapsMouseEvent) => {
    // Close the current InfoWindow.
    infoWindow.close();
    // Create a new InfoWindow.
    infoWindow = new google.maps.InfoWindow({
      position: mapsMouseEvent.latLng,
    });
    infoWindow.setContent(
      JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
    );
    infoWindow.open(map);
  });
}

window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoaCJ0ekYWb3ZunNoB6G9NvCEc7zHK350&callback=initMap" async defer></script>