<div class="container">
 <div class="row">
  <div class="col">
   <h4 class="m-4 text-center font-weight-bold">会員一覧</h4>
  </div>
   <table class="table text-center" style="color:white;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">会員ID</th>
        <th scope="col">氏名</th>
        <th scope="col">アカウントネーム</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>

    <tbody>
     <% @customers.each do |customer| %>
     <tr>
      <th scope="row"><%= customer.id %></th>
      <td>
        <%= link_to admin_customer_path(customer), class: "text-white" do %>
        <%= customer.last_name %><% customer.first_name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.account_name %></td>
        <% end %>
      <td>
        <% if customer.is_deleted %>
         <p class="text-danger"><strong>退会済</strong></p>
         <% else %>
         <p class="text-success"><strong>有効</strong></p>
         <% end %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
 </div>
  <div class="row justify-content-center mt-3">
    <div class='mr-5'>
      <%= paginate @customers %>
    </div>
  </div>
 </div>