<style>
  a {
    color: #6c6b6b !important;
  }
</style>


<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class=container>
  <div class=col-md-6.mx-auto>
    <div>
      <div class=form-inline>
        <span>
          <%= link_to customer_path(visitor) do %>
            <%= image_tag visitor.get_profile_image(100,100), class: "icon_mini" %>
            <strong> <%= visitor.account_name %><%= 'さん' %></strong>
          <% end %>
        </span>
          <%= 'が' %>
          <% case notification.action %>
          <% when 'follow' then%>
          <strong>あなた</strong>
            <%= "をフォローしました" %>
          <% when 'like' then %>
            <%= link_to 'あなたの投稿', notification.post, style: "font-weight: bold;"%>
            <%= "にいいねしました" %>
          <% when 'comment' then%>
            <% if notification.post.customer_id == visited.id%>
              <strong><%= link_to "あなたの投稿", notification.post,style: "font-weight: bold;" %></strong>
            <% else%>
              <%= link_to post_path(notification.post) do%>
                <%= image_tag visitor.get_profile_image(100,100), class: "icon_mini" %>

              <strong><%= notification.post.customer.account_name + 'さんの投稿'%></strong>
              <%end%>
            <%end%>
            <%= "にコメントしました" %>
          <%end%>
      </div>

    <% if Comment.exists?(id: notification.comment_id) %>
      <div class = "mt-1">
        <p class = "text-muted mb-0"><%= Comment.find_by(id: notification.comment_id)&.comment %></p>
      </div>
    <% end %>

    <p class =" display-5 text-muted text-right" ><%= time_ago_in_words(notification.created_at).upcase %>前</p>
    </div>
  </div>
</div>
<hr>


