<h3>ログイン</h3>
<h6>会員の方はこちらからログイン</h6>
<%= form_with model: @customer, url: customer_session_path do |f| %>
  <div class="field">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "sample@example.com"%>
  </div>

  <div class="field">
    <%= f.label :"パスワード", class: "col-sm-3 control-label" %>
    <%= f.password_field :password, autocomplete: "current-password"%>
  </div>

 <div class="field">
    <%= f.submit "ログイン" %>
  </div>

<% end %>

    <h6>※会員登録がお済みでない方</h6>

    <div>
      <%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。
    </div>
  </div>