<!DOCTYPE html>
<html>
  <head>
    <title>FamilyOutingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <header>
      <% if customer_signed_in? %>
      <div>ようこそ、<%= current_customer.account_name %>さん!!</div>

      <li>
      <%= link_to destroy_customer_session_path, method: :delete do %>
        ログアウト
      <% end %>
      </li>

      <li>
      <%= link_to new_post_path do %>
        投稿
      <% end %>
      </li>

      <li>
      <%= link_to posts_path do %>
        投稿一覧
      <% end %>
      </li>

      <li>
      <%= link_to customer_path(current_customer.id) do %>
        マイページ
      <% end %>
      </li>


      <li>
      <%= link_to customers_path do %>
        ユーザー一覧
      <% end %>
      </li>

      <%= render 'public/searches/form' %>


      <% elsif admin_signed_in? %>

      <li>
        <%= link_to destroy_admin_session_path, method: :delete do %>
         ログアウト
        <% end %>
      </li>

      <li>
        <%= link_to admin_customers_path do %>
         ユーザー一覧
        <% end %>
      </li>


      <% else %>
      <li>
        <%= link_to about_path do %>
          About
        <%end%>
      </li>
      <li>
        <%=link_to new_customer_session_path do %>
          ログイン
        <% end %>
      </li>

      <li>
        <%=link_to  new_customer_registration_path do %>
          新規登録
        <% end %>
      </li>
      <li>
      <%= link_to customers_guest_sign_in_path, method: :post do %>
      ゲストログイン（閲覧用）

      <% end %>
      </li>


      <% end %>



    </header>
    <main>

    <% flash.each do |message_type, message| %>
     <p class="alert alert-info"> <%= message %></p>
    <% end %>


    <%= yield %>
    </main>
    <footer class="footer">
      <p style= "text-align: center;">Family Outing</p>
　　</footer>

  </body>
</html>
